.single-message__self{
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 10px;
  background-color: #DCF8C6;
  border-radius: 5px;
}
.single-message__other{
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
}
