*{
  margin: 0px;
}

#chat-screen{
  position: absolute;
  width: 100%;
  height: 90%;
  margin: 0px;
  background-color: white;
  overflow: hidden;
}

#chat-screen__msg-area{
  height: 100%;
  padding: 0px;
}

#chat-screen__msg-area__online-users{
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 1px solid #F7F7F7;
}

#chat-screen__msg-area__main{
  height: 100%;
  padding: 0px;
  background-color: #E5DDD5;
  overflow-y: hidden;
  overflow-x: hidden;
}

#chat-screen__msg-area__header{
  position: sticky;
  top: 0px;
  z-index:100;
  height: 40px;
  margin: auto;
  color: white;
  font-size: 22px;
  text-align: center;
  background-color: #91908f;
  border-top: 1px solid #F5F5F5;
}

#chat-screen__mobile-device__user-list{
  height: 50vh;
}

.chat-screen__msg-area__conversation{
  height: 80%;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-screen__actions{
  height: 10%;
  padding: 10px;
}

#chat-screen__actions__file{
  display: none;
}

#chat-screen__actions__message{
}


@media all and (max-width: 479px) {
    #chat-screen__msg-area__online-users, #chat-screen__msg-area__header__normal{display:none;}
}

@media all and (min-width: 480px) {
    #chat-screen__msg-area__header__xs{display:none;}
}

.chat-screen__mediastream{
  display: none;
}

#call_modal{
  width: 250px;
}
.call_profile{
  flex-grow: auto;
  height: 300px;
  width: 250px;
}
.call_profile_photo{
  height: 250px;
  width: 250px;
  background-color: grey;
}
.call_profile_name{
  text-align: center;
  font-size: 1.5rem;
}

.chat-screen_call_ui{
  display: flex;
  z-index: 101;
  left: 50%;
  position: absolute;
  height: 60px;
  min-width: 300px;
  padding: 5px;
  background-color: #EDEDED;
}
.chat-screen_call_ui__icon{
  flex-grow: auto;
  background-image: url('/profile_default.png');
  height: 50px;
  width: 17%;
  background-color: #F5F5F5;
  padding: 5px;
  border-radius: 50px;
}
.chat-screen_call_ui__details{
  padding: 15px 5px;
  width: 49%;
}

.chat-screen_call_ui_actions{
  display: flex;
  float: right;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  width: 34%;
}
.call_answer_button{
  width: 40px;
  padding: 10px;
  height: 40px;
  background-color: blue;
  border-radius: 20px;
  margin-right: 5px;
}
.call_answer_button:hover{
  cursor:pointer;
  background-color: white;
}
.call_end_button{
  width: 40px;
  padding: 10px;
  height: 40px;
  background-color: red;
  border-radius: 20px;
}
.call_end_button:hover{
  cursor:pointer;
  background-color: white;
}
