*{
  margin: 0px;
}

#chat-screen{
  position: absolute;
  width: 100%;
  height: 90%;
  margin: 0px;
  background-color: white;
  overflow: hidden;
}

#chat-screen__msg-area{
  height: 100%;
  padding: 0px;
}

#chat-screen__msg-area__online-users{
  margin: 0px;
  padding: 0px;
  border: 1px solid #F7F7F7;
  overflow: auto;
}

#chat-screen__msg-area__main{
  height: 100%;
  padding: 0px;
  background-color: #E5DDD5;
  overflow-y: hidden;
  overflow-x: hidden;
}

#chat-screen__msg-area__header{
  position: sticky;
  top: 0px;
  z-index:100;
  height: 40px;
  margin: auto;
  color: white;
  font-size: 22px;
  text-align: center;
  background-color: #91908f;
  border-top: 1px solid #F5F5F5;
}

.chat-screen__msg-area__conversation{
  height: 80%;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-screen__actions{
  height: 10%;
  padding: 10px;
}

#chat-screen__actions__file{
  display: none;
}

#chat-screen__actions__message{
}


@media all and (max-width: 479px) {
    #chat-screen__msg-area__online-users, #chat-screen__msg-area__header__normal{display:none;}
}

@media all and (min-width: 480px) {
    #chat-screen__msg-area__header__xs{display:none;}
}

.chat-screen__mediastream{
  display: none;
}

#call_modal{
  width: 250px;
}
.call_profile{
  flex-grow: auto;
  height: 300px;
  width: 250px;
}
.call_profile_photo{
  height: 250px;
  width: 250px;
  background-color: grey;
}
.call_profile_name{
  text-align: center;
  font-size: 1.5rem;
}
#call_answer_button{
  width: 50%;
  padding: 40px;
  height: auto;
  background-color: blue;
}
#call_answer_button:hover{
  cursor:pointer;
}
#call_end_button{
  width: 50%;
  padding: 40px;
  height: auto;
  background-color: red;
}
#call_end_button:hover{
  cursor:pointer;
}
